<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airplane1.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1567,1400},{380,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,253}}</string>
                <key>sourceSize</key>
                <string>{380,253}</string>
            </dict>
            <key>ball1.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{0,1140},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>ball2.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{380,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,330}}</string>
                <key>sourceSize</key>
                <string>{380,330}</string>
            </dict>
            <key>baloon1.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{838,1900},{73,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,110}}</string>
                <key>sourceSize</key>
                <string>{73,110}</string>
            </dict>
            <key>baloon2.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{709,550},{73,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,110}}</string>
                <key>sourceSize</key>
                <string>{73,110}</string>
            </dict>
            <key>bike1.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1567,1147},{380,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,253}}</string>
                <key>sourceSize</key>
                <string>{380,253}</string>
            </dict>
            <key>book1.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{911,1900},{110,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,69}}</string>
                <key>sourceSize</key>
                <string>{110,69}</string>
            </dict>
            <key>book2.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{737,1900},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{101,110}</string>
            </dict>
            <key>book3.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{0,1900},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>car1.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{708,760},{298,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,380}}</string>
                <key>sourceSize</key>
                <string>{298,380}</string>
            </dict>
            <key>car2.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1576,894},{380,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,253}}</string>
                <key>sourceSize</key>
                <string>{380,253}</string>
            </dict>
            <key>car3.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1598,0},{380,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,261}}</string>
                <key>sourceSize</key>
                <string>{380,261}</string>
            </dict>
            <key>car4.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1653},{380,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,226}}</string>
                <key>sourceSize</key>
                <string>{380,226}</string>
            </dict>
            <key>car5.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1291,734},{380,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,285}}</string>
                <key>sourceSize</key>
                <string>{380,285}</string>
            </dict>
            <key>cars.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{742,1520},{312,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,380}}</string>
                <key>sourceSize</key>
                <string>{312,380}</string>
            </dict>
            <key>cart1.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{0,760},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>cart2.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{380,760},{328,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,380}}</string>
                <key>sourceSize</key>
                <string>{328,380}</string>
            </dict>
            <key>cubes1.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{380,380},{380,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,329}}</string>
                <key>sourceSize</key>
                <string>{380,329}</string>
            </dict>
            <key>cubes2.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1114},{380,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,285}}</string>
                <key>sourceSize</key>
                <string>{380,285}</string>
            </dict>
            <key>cubes3.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1653},{253,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,380}}</string>
                <key>sourceSize</key>
                <string>{253,380}</string>
            </dict>
            <key>cubes4.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{380,1140},{380,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,326}}</string>
                <key>sourceSize</key>
                <string>{380,326}</string>
            </dict>
            <key>cubes5.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1114},{253,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,380}}</string>
                <key>sourceSize</key>
                <string>{253,380}</string>
            </dict>
            <key>doll1.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1767,514},{253,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,380}}</string>
                <key>sourceSize</key>
                <string>{253,380}</string>
            </dict>
            <key>ted1.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{742,110},{82,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,110}}</string>
                <key>sourceSize</key>
                <string>{82,110}</string>
            </dict>
            <key>ted10.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{742,330},{75,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,110}}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>ted11.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{218,1900},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>ted2.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{838,0},{380,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,354}}</string>
                <key>sourceSize</key>
                <string>{380,354}</string>
            </dict>
            <key>ted3.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{742,0},{91,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,110}}</string>
                <key>sourceSize</key>
                <string>{91,110}</string>
            </dict>
            <key>ted4.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{534,1900},{110,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,102}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>ted5.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{324,1900},{105,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,110}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>ted6.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{429,1900},{110,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,105}}</string>
                <key>sourceSize</key>
                <string>{110,105}</string>
            </dict>
            <key>ted7.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{636,1900},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{101,110}</string>
            </dict>
            <key>ted8.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{742,220},{77,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,110}}</string>
                <key>sourceSize</key>
                <string>{77,110}</string>
            </dict>
            <key>ted9.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{709,440},{110,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,97}}</string>
                <key>sourceSize</key>
                <string>{110,97}</string>
            </dict>
            <key>teds.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{110,1900},{108,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{108,110}</string>
            </dict>
            <key>toys1.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1102,354},{380,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,285}}</string>
                <key>sourceSize</key>
                <string>{380,285}</string>
            </dict>
            <key>toys2.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{371,1520},{380,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,371}}</string>
                <key>sourceSize</key>
                <string>{380,371}</string>
            </dict>
            <key>toys3.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>toys4.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{0,1520},{380,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,371}}</string>
                <key>sourceSize</key>
                <string>{380,371}</string>
            </dict>
            <key>train1.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1387,514},{380,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,214}}</string>
                <key>sourceSize</key>
                <string>{380,214}</string>
            </dict>
            <key>train2.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1006,734},{380,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,285}}</string>
                <key>sourceSize</key>
                <string>{380,285}</string>
            </dict>
            <key>train3.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1218,0},{380,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,273}}</string>
                <key>sourceSize</key>
                <string>{380,273}</string>
            </dict>
            <key>train4.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{817,354},{380,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,285}}</string>
                <key>sourceSize</key>
                <string>{380,285}</string>
            </dict>
            <key>train5.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{706,1140},{380,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,323}}</string>
                <key>sourceSize</key>
                <string>{380,323}</string>
            </dict>
            <key>train6.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1598,261},{380,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,253}}</string>
                <key>sourceSize</key>
                <string>{380,253}</string>
            </dict>
            <key>train7.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1653},{380,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,228}}</string>
                <key>sourceSize</key>
                <string>{380,228}</string>
            </dict>
            <key>train8.JPG</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>toys.png</string>
        </dict>
    </dict>
</plist>
